@use "/src/sass/base/variables.scss" as *;

.footer {
  .just-validate-error-field {
    border-color: $ui-error;
    &::placeholder {
      color: $ui-error;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $light;
    -webkit-box-shadow: 0 0 0px 40rem $dark inset;
  }
  margin-top: 60px;
  padding: 50px 0;
  background-color: $dark;
  &__header {
    color: $light;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 40px;
    color: $light;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
  }
  &__form {
    margin-top: 40px;
  }

  &__input {
    display: block;
    width: 293px;
    padding-bottom: 15px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $ui-active;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $ui-active;
    &::placeholder {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $ui-active;
    }
    &:focus-visible {
      outline: $dark;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: $light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    a {
      margin-left: 3px;
      text-decoration: none;
      color: #a22dc6;
    }
  }
  &__checkbox {
    margin-right: 15px;
  }
  &__form-btn {
    margin-top: 20px;
  }
  &__links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 40px;
  }
  &__nav {
    margin-top: 40px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      row-gap: 20px;
      list-style-type: none;
    }
  }
  &__link {
    a {
      color: $light;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }

  &__social {
    margin-top: 40px;
    &-block {
      display: flex;
      margin-top: 40px;
      column-gap: 10px;
      padding: 0;
      list-style-type: none;
      a {
        display: block;
        color: $light;
        text-decoration: none;
        font-size: 24px;
      }
      span:before {
        margin: 0;
      }
    }
  }
  &__copyright {
    margin-top: 40px;
    text-align: center;
    color: $light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__newsletter {
      width: 100%;
    }
    &__copyright {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__wrapper {
      flex-wrap: nowrap;
    }
    &__newsletter {
      width: auto;
    }
    &__social,
    &__links {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    padding: 80px;
    margin-top: 100px;
    &__copyright {
      margin-top: 18px;
    }
  }
}
